

#about  {
    display: grid;
   padding-right: 0px;
    padding-left: 0px; 
}


.grid_3 {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 3em;
  
  margin: 0 40px;
  
  }
  


  
#about .text{
    grid-column: col 1/ span 2 ;
    grid-row: row 2;
    padding-top: 0px;
    margin: 0vh 0vh;
    
    
  }
  
  
#about .languages {
  
    grid-column: col 1 / span 3;
    grid-row: row 6;
    padding-right: 0px;
/* margin-left: 40px; */
  }
  
  
#about .language {
    grid-column: col 4 / span 3;
    grid-row: row 6;

  
  
  
  
  }
  
  