
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 19%;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
    z-index: 1;
}


h1 .sticky  {
    margin-left: 0px;
    padding-left: 0%;
    list-style: none;
}


#work {
   
    position: sticky;
    height: 100vh;
  }

  

#work{ 
    display:none;
}




#work:target{
    display: grid;
}


/* #cv {
   
    position: sticky;
    height: 100vh;
  }

  

#cv { 
    display:none;
}




#cv:target{
    display: grid;
}
 */

